<head>
  <title>결제하기</title>
  <meta charset="utf-8" />
  <!-- 토스페이먼츠 결제창 SDK 추가 -->
  <script src="https://js.tosspayments.com/v1/payment"></script>
</head>

<body>
  <button class="button is-link" onclick="billing('카드',jsons.card);">자동결제</button>
  <script>
    // ------ 클라이언트 키로 객체 초기화 ------
    var clientKey = 'test_ck_ma60RZblrqKj2651lan63wzYWBn1';
    var tossPayments = TossPayments(clientKey);

    var amount = 1;
    function billing(method, requestJson) {
      console.log("billing");
      console.log(requestJson);

      tossPayments.requestBillingAuth(method, requestJson)
        .catch(function (error) {
          if (error.code === "USER_CANCEL") {
            alert('유저가 취소했습니다.');
          } else {
            alert(error.message);
          }
        });
    }

    var successUrl = "http://localhost:8081/payment/success";
    var failUrl = window.location.origin + "/fail";

    var jsons = {
      "card": {
        "customerKey": "test_customer_key",
        "successUrl": successUrl,
        "failUrl": failUrl
      }
    }
  </script>
</body>